{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Categoría Unica</small>    
{% endblock %}

{% block contenido %}
    
	<article>
		<header>
			<h3>{{ categoria.nombre }}</h3>
		</header>
		<section>
			<strong>Descripción:</strong> <br>
			{{ categoria.descripcion|raw }}
	
		</section>
		<hr>
		<footer>
			<a href="http://localhost/mvcmayo2018/index.php?c=categoriasController.php">
					Volver a Categorías



				</a>
		</footer>
	</article>

{% endblock %}