{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Categorías</small>  
	<br>
	<small><a href="index.php?c=categoriasController.php&accion=insertar">Nuevo Elemento</a></small> 
	<hr>
{% endblock %}





{% block contenido %}
	<table class="table table-striped">
		<tr>
			<th>Nombre categoria</th>
		</tr>

		{% for categoria in categorias %}
		<tr>
			<td>
				<a href="index.php?c=categoriasController.php&id={{ categoria.id }}&accion=ver">
					{{ categoria.nombre }} 

				</a>
				-
				<a href="index.php?c=categoriasController.php&id={{ categoria.id }}&accion=borrar">Borrar</a>
				-
				<a href="index.php?c=categoriasController.php&id={{ categoria.id }}&accion=modificar">Modificar</a>
			</td>
		</tr>
		{% endfor %}
		
	</table>
{% endblock %}