{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Centro Deportivo</small>    
{% endblock %}

{% block contenido %}
    
	<article>
			<header>
			<h3>{{ elcentro.nombre }}</h3>
		</header>
		<section>
			<strong>Dirección:</strong> <br>
					{{ elcentro.direccion|raw }}
			<hr>
	
			<div id="map" style="width:100%; height: 400px"></div>
		    <script>
		      function initMap() {
		        var myLatLng = {lat: {{ elcentro.latitud}}, lng: {{ elcentro.longitud }}};

		        // Create a map object and specify the DOM element for display.
		        var map = new google.maps.Map(document.getElementById('map'), {
		          center: myLatLng,
		          zoom: 15
		        });

		        // Create a marker and set its position.
		        var marker = new google.maps.Marker({
		          map: map,
		          position: myLatLng,
		          title: '{{ elcentro.nombre }}'
		        });
		      }

		    </script>
		    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlxwMXfl41ghv1sepO0tqicUtH_8k2ZM&callback=initMap" async defer></script>
	 
		</section>
		<hr>
		<footer>
			<a href="centros-deportivos.html">
					Volver a Centros



				</a>
		</footer>
	</article>

{% endblock %}