{% extends 'base.html.twig'%}

{% block contenido %}
<?php foreach ($entradas as $entrada) { ?>
        <article>
         <header>
          <a href=" index.php?c=blogController.php&id=<?php echo $entrada->id; ?>">
          <?php echo $entrada->titulo; ?>
          </a>
            
          </header>
         <section><?php echo $entrada->contenido; ?></section>
         <footer>
            <?php echo $entrada->autor; ?>
           -
            <?php echo $entrada->fecha; ?>
         </footer>
        </article>
        <hr>
      <?php } ?>   

{% endblock %}