{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Monumento</small>    
{% endblock %}

{% block contenido %}
    
	<article>
			<header>
			<h3>{{ monumento.nombre }}</h3>
		</header>
		<section>
			<strong>Dirección:</strong> 
					{{ monumento.direccion|raw }}
			<hr>
			<strong>Año:</strong>
					{{ monumento.fecha|raw }} | <strong>Estilo:</strong>
					{{ monumento.estilo|raw }}
			<hr>
			<strong>Telefono:</strong> 
					{{ monumento.telefono|raw }}
			<hr>
			<strong>Descripción:</strong> <br>
					{{ monumento.descripcion|raw }}
		

	
			<div id="map" style="width:100%; height: 400px"></div>
		    <script>
		      function initMap() {
		        var myLatLng = {lat: {{ monumento.latitud}}, lng: {{ monumento.longitud }}};

		        // Create a map object and specify the DOM element for display.
		        var map = new google.maps.Map(document.getElementById('map'), {
		          center: myLatLng,
		          zoom: 15
		        });

		        // Create a marker and set its position.
		        var marker = new google.maps.Marker({
		          map: map,
		          position: myLatLng,
		          title: '{{ monumento.nombre }}'
		        });
		      }

		    </script>
		    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlxwMXfl41ghv1sepO0tqicUtH_8k2ZM&callback=initMap" async defer></script>
	  
		</section>
		<hr>
		<footer>
			<a href="monumentos.html">
					Volver a Monumentos



				</a>
		</footer>
	</article>

{% endblock %}