{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Producto Unico</small>    
{% endblock %}

{% block contenido %}
    
	<article>
		<header>
			<h3>{{ producto.nombre }}</h3>
		</header>
		<section>
			<strong>Descripción:</strong> <br>
			{{ producto.descripcion }}
			<hr>
			<strong>Precio: </strong>{{ producto.precio }}
			 - 
			<strong>Unidades:</strong>
			{{ producto.unidades }}
		</section>
		<footer>
			<strong>Fecha Alta: </strong>{{ producto.fecha }} - <strong>Categoría: </strong>{{ producto.categoria }}
			<hr>
			<a href="http://localhost/mvcmayo2018/index.php?c=productosController.php">
					Volver a Productos



				</a>
		</footer>
	</article>

{% endblock %}