{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Productos</small>    
{% endblock %}





{% block contenido %}
	<table class="table table-striped">
		<tr>
			<th>Nombre Producto</th>
		</tr>

		{% for producto in productos %}
		<tr>
			<td>
				<a href="{{ producto.url }}">
					{{ producto.nombre }}



				</a>
			</td>
		</tr>
		{% endfor %}
		
	</table>
{% endblock %}