{% extends 'base.html.twig' %}



{% block titulo_contenido %}
	{{ parent() }}
	<small>Restaurante</small>    
{% endblock %}

{% block contenido %}
    
	<article>
			<header>
			<h3>{{ restaurante.nombre }}</h3>
		</header>
		<section>
			<img src="http://www.zaragoza.es{{ restaurante.imagen|raw }}" width="100%"><br><hr>
			<strong>Dirección:</strong> 
					{{ restaurante.direccion|raw }}| <strong>Localidad:</strong>
					{{ restaurante.localidad|raw }}
			<hr>
			<strong>Telefono:</strong>
					{{ restaurante.telefono|raw }} | <strong>Email:</strong>
					{{ restaurante.email|raw }} | <strong>Url:</strong>
					{{ restaurante.url|raw }}
			
			<hr>
			<strong>Descripción:</strong> <br>
					{{ restaurante.descripcion|raw }}
		

	
			<div id="map" style="width:100%; height: 400px"></div>
		    <script>
		      function initMap() {
		        var myLatLng = {lat: {{ restaurante.latitud}}, lng: {{ restaurante.longitud }}};

		        // Create a map object and specify the DOM element for display.
		        var map = new google.maps.Map(document.getElementById('map'), {
		          center: myLatLng,
		          zoom: 15
		        });

		        // Create a marker and set its position.
		        var marker = new google.maps.Marker({
		          map: map,
		          position: myLatLng,
		          title: '{{ restaurante.nombre }}'
		        });
		      }

		    </script>
		    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqlxwMXfl41ghv1sepO0tqicUtH_8k2ZM&callback=initMap" async defer></script>
	  
		</section>
		<hr>
		<footer>
			<a href="restaurantes.html">
					Volver a Restaurantes



				</a>
		</footer>
	</article>

{% endblock %}